{% extends 'base.html' %}

    {% block title %}
        <title>LOGIN PAGE</title>
    {% endblock %}

{% block content1 %}
        <div>
            <h1>Login Form</h1>
            <form method="post">
                {% csrf_token %}
                <input placeholder="Username" name="un">
                <br><br>
                <input placeholder="Password" name="pw">
                <br><br>
                <input type="submit" value="Login">
                <input type="reset">
            </form>
        </div>
{% endblock %}